@import "tailwindcss";

@theme {
  --color-primary: #00796b;
  --color-secondary: #27dcc7bc;
  /* --color-ternary: */
  --color-hoverColor: #A4AAB2;

    --color-main-dark: #212121;
    --color-text-dark: white;
    --color-card-dark: #4152507e;
    --color-header-dark: #1e2939;
    --color-outline-dark: #ffffff

  
    --color-main-light: #D2E1DA;
    --color-text-light: #000000;
    --color-card-light: #4678707e;
    --color-bg2-light: #1e2939;
    --color-outline-light: #000000;

  }


  @custom-variant dark (&:where(.dark, .dark *));
  
  /* #E2E4E6	#F1F3F5 #3e3e42	#F0F4F2 #5E72E4 #2F3542 #747D8C #A2A4B0  #3A3A47 32403e7e */