@import "tailwindcss";

@theme {
  --color-primary: #00716b;
  --color-secondary: #27dcc7bc;
  /* --color-ternary: */
  --color-hoverColor: #68717efd;
/* c4e4d4 bce6d2 D2E1DA */
    --color-main-dark: #212121;
    --color-text-dark: white;
    --color-card-dark: #4152507e;
    --color-header-dark: #1e2939;
    --color-outline-dark: #ffffff

  
    --color-main-light: #c4e4d4;
    --color-text-light: #000000;
    --color-card-light: #4678707e;
    --color-card-select: #67b48f;
    --color-header-light: #dcebe3;
    --color-bg2-light: #1e2939;
    --color-outline-light: #000000;
    --color-card-select: #98c4bf7e

  }


  @custom-variant dark (&:where(.dark, .dark *));
  
  /* #E2E4E6	#F1F3F5 #3e3e42	#F0F4F2 #5E72E4 #2F3542 #747D8C #A2A4B0  #3A3A47 32403e7e */